{% extends 'base.html' %}
{% block title %}
Task List
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if tasks %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for Task in tasks %}
                <tr>
                    <td>{{ Task.name }}</th>
                    <td>{{ Task.start_date}}</th>
                    <td>{{ Task.due_date }}</th>
                    <td>{{ Task.is_completed|yesno }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
