{% extends 'base.html' %}
{% block title %}
{{ project_object.name }}
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a></p>
        {% if project_object.tasks.all %}
        <table>
            <thead>
                <tr>Name&nbsp;&nbsp;</tr>
                <tr>Assignee&nbsp;&nbsp;</tr>
                <tr>Start date&nbsp;&nbsp;</tr>
                <tr>Due date&nbsp;&nbsp;</tr>
                <tr>Is completed&nbsp;&nbsp;</tr>
            </thead>
            <tbody>
                {% for task in project_object.tasks.all %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
