{% extends 'base.html' %}
{% block title %}
Project List
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        {% if not projects %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name&nbsp;&nbsp;&nbsp;</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for Project in projects %}
                <tr>
                    <td><a href="{% url 'show_project' Project.id %}">{{ Project.name }}&nbsp;&nbsp;&nbsp;</a>
                    </td>
                    <td>{{ Project.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
